---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="Home | sitokevin">
  <h1 class="text-3xl font-display font-bold">Benvenuto su sitokevin</h1>

  <!-- Contenuti pagina... -->

  <Footer slot="footer" />
</BaseLayout>
