---
import BaseLayout from "../layouts/BaseLayout.astro";
import Seo from "../components/Seo.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/header.astro";
---

<BaseLayout>
  <Seo
  slot="seo"
  title="Home | sitokevin"
  description="Scopri come creare un sistema efficace di acquisizione clienti nel 2025 con copywriting strategico."
  canonical="https://fazzellikevin.it/"
  author="Kevin Fazzelli"
/>
  <Header slot="header" />

  <main class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-display font-bold mb-6">
      Benvenuto su sitokevin
    </h1>

    <p class="text-lg font-alt text-gray-900">
      Questa è la tua nuova homepage in Astro + Tailwind.
    </p>
  </main>

  <Footer slot="footer" />
</BaseLayout>
